doctype html
html
	head
		title FlashFingers | Login
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		content
			h1  You are attempting to access something without authentication!
			a(href='/login')    Please login!
