extends layout
block content
  .container
      .pull-top
     #challengeContainer
       h1#beginTypingHeader
         Press spacebar to play!
      footer
    script(src='javascripts/Challenge.js')
    script.
      var text = "#{text}";
