extends layout

block content
  header
    #header.row
      .col-md-6.text-left
        h1.title-super.text-thin Flash Fingers
      .col-md-4
      .col-md-2.text-right
        p#loginName Welcome, User
        p#logout Logout
  content
    script(src='game/libraries/createjs/createjs-2015.11.26.min.js', type='text/javascript', rel='script')
    .pull-right
      canvas#statsCanvas(width='300', height='900')
    h1(id="beginTypingHeader")  Just begin typing to play!
    div(id="challengeTextBox")
      p(id="challengeTextView")  #{text}
      h2(id="wpmCounter")
      .container
        .row.text-center
          .col-md-3
            canvas#game
            // script(src='game/assets/scripts/setup.js', type='text/javascript', rel='script')


          script(src='javascripts/ChallengeEntry.js')
          script(src='javascripts/RaceTrack.js')
          script(src='javascripts/TestChallenge.js')
          script.
            challengeBox.sourceText("#{text}");
  footer
