extends layout
block content
  header
    #header.row
      .col-md-6.text-left
        h1.title-super.text-thin Flash Fingers
      .col-md-4
      .col-md-2.text-right
        p#loginName Welcome, User
        p#logout Logout
  content
    div(id='challengeContainer')
      h1(id='beginTypingHeader')  Press spacebar to play!
      h2(id='wpmCounter')
      div(id='challengeTextBox')
      script(src='javascripts/Challenge.js')
      script.
        var text = "#{text}";

      footer
