extends layout
block content
	.pull-right
		.container
			h1(id='headerTitle')    Change Password
			form(action='/updatePassword', method='post')

				if errors
					ul
						for error in errors
							li(class='errorItem')!= error.msg


				strong New Password:
				input(type='password', name='new_password')
				strong Confirm New Password:
				input(type='password', name='confirm_new_password')
				input(type='submit' id='submitButton' value='Change Password')
