doctype html
html
  body
    content
      form(action='/processChallenge', method='post')
        strong Challenge:
        input(type='text', name='challengetext', value='')
        input#submitButton(type='submit', value='Submit')
        input(name='difficulty', type='radio', value='Easy')
        | Easy
        input(name='difficulty', type='radio', value='Medium')
        | Medium
        input(name='difficulty', type='radio', value='Hard')
        | Hard
