extends layout

block content
  .container
    content

    if user
     .pull-right
       canvas#statsCanvas(width='300', height='900')

    .container
      .row.text-center
        .col-md-3
          .row
           a(href='/playChallenge')
            button(type='button') Enter a Challenge
    footer
