extends layout

block content
  header
    #header.row
      .col-md-6.text-left
        h1.title-super.text-thin Flash Fingers
      .col-md-4
      .col-md-2.text-right
        p#loginName Welcome, Guest
        a(href='/login')   Login
  content
    .pull-right
      canvas#statsCanvas(width='300', height='900')
    .container
      .row.text-center
        .col-md-3
          .row
           a(href='/playChallenge')
            button(type='button') Enter a Challenge
  footer
