doctype html
html
  head
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    title Login Failure
  h1 Aww shucks! Looks like your login attempt was unsuccessful
  a(href='/login' id='loginFailTryAgain')  Try Again
