extends layout

block content
  header
    #header.row
      .col-md-6.text-left
        h1.title-super.text-thin Flash Fingers
      .col-md-4
      .col-md-2.text-right
        p#loginName Welcome, #{user.username}
        a(href='/logout')   Logout
  content
    .pull-right
      canvas#statsCanvas(width='300', height='900')
    .container
      .row.text-center
        .col-md-3
          .row
            button(type='button') Enter a Challenge
          .row
            a(href='/enterChallenge')
             button(type='button') Upload a Challenge
          .row
            a(href='/changePassword')
             button(type='button') Change Password
  footer
