doctype html
html
	head
		title FlashFingers | Login
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		content
			h1(id='headerTitle')    FlashFingers | Registration
			h2	Registration is quick and easy! Sign up in 10 seconds!

			form(action='/registerUser', method='post')

				if errors
					ul
						for error in errors
							li(class='errorItem')!= error.msg


				strong Username:
				input(type='text', name='username' value='#{username}')
				strong Password:
				input(type='password', name='password' value='#{password}')
				strong Confirm Password:
				input(type='password', name='confirm_password')
				input(type='submit' id='submitButton' value='Register')
