extends layout

block content
    main.mdl-layout__content
      .page-content
        .mdl-grid
          .mdl-cell.mdl-cell--6-col.mdl-typography--text-center
            a(href="/create") Create
            br
            a(href="/random") Random
            br
            a(href="/load") Load