<!DOCTYPE HTML>
<html>

<head>
	<title>SUPERS!</title>
	<link href="../public/styles/style.css" rel="stylesheet">
</head>

<body>
	<div class="content-box">
		<div>
			<h2>NAME</h2>
		</div>
		<div class="section">
			<div class="article">
				<div class="subHeading">
					<h3>RESISTANCES</h3>
				</div>
				<ul>
					<li>
						<div class="resistance-name">FORTITUDE</div>
					</li>
					<li>
						<div class="resistance-box shadow" id="fort"><b>1D</b></div>
					</li>
					<li>
						<div class="resistance-name">REACTION</div>
					</li>
					<li>
						<div class="resistance-box shadow" id="react shadow"><b>1D</b></div>
					</li>
					<li>
						<div class="resistance-name">WILL</div>
					</li>
					<li>
						<div class="resistance-box shadow" id="will"><b>1D</b></div>
					</li>
					<li>
						<div class="resistance-name">COMPOSURE</div>
					</li>
					<li>
						<div class="resistance-box shadow" id="comp"><b>1D</b></div>
					</li>
					<li>
						<div class="competency-name shadow">COMPETENCY DICE</div>
					</li>
					<li>
						<div class="resistance-box shadow" id="comp_dice"><b>0D</b></div>
					</li>
				</ul>
			</div>
		</div>
		<div class="section">
			<div class="subHeading">
				<h3>POWERS</h3>
			</div>
			<div class="powers-list info-box shadow article">Dummy Text</div>
		</div>
		<div class="section">
			<div class="small-box">
				<div class="subHeading">
					<h3>APTITUDES</h3>
				</div>
				<div class="aptitudes-list info-box2 shadow article">Dummy Text</div>
			</div>
			<div class="small-box small-box-spacer">
				<div class="subHeading">
					<h3>ADS and DISADS</h3>
				</div>
				<div class="ads-and-disads-list info-box2 shadow article">Dummy Text</div>
			</div>
		</div>
	</div>

</body>

</html>