extends layout

block content
    main.mdl-layout__content
      .page-content
        .mdl-grid
          .mdl-cell.mdl-cell--12-col.mdl-typography--text-center
            div#placeHero.mdl-typography--text-center(style="width:800px;margin-left:auto;margin-right:auto")

    script(src='/javascripts/randomChar.js')