@import url('https://fonts.googleapis.com/css?family=Antic+Slab');
body {
    font-family: 'Antic Slab', serif;
    color: #4E8E8D;
    font-weight: 400;
    background-color: #A4DADA;
    overflow-x: hidden;
}
p {
    font-size: 120%;
}

button {
    margin-top:5%;
    margin-left:10%;
}
.text-muted {
    color:#BCBB88;
}
.text-thin {
    font-weight: 300;
}
.title-super {
    font-size: 60px;
}
.title-logo {
    margin-top: 20px;
}
#header {
    margin-left: 5%;
    border-bottom-style: double;
}

#statsCanvas {
    border:1px solid #000000;
    border-top: hidden;
    border-color: #4E8E8D;
}

#loginName {
    padding-right: 25%;
    padding-top: 12%;
    text-shadow: currentColor;
}
#logout {
    padding-right: 25%;
    margin-top: -3%;
}

