body {
    font-family: 'Antic Slab', serif;
    color: #6C8E86;
    font-weight: 400;
    background-color: #DAD4D2;
}
p {
    font-size: 120%;
}
.text-muted {
    color:#BCBB88;
}
.text-thin {
    font-weight: 300;
}
.title-super {
    font-size: 60px;
}
.title-logo {
    margin-top: 20px;
}
#header {
    margin-left: 5%;
    border-bottom-style: double;
}

#statsCanvas {
    border:1px solid #000000;
    border-top: hidden;
    border-color: #6C8E86;
}

#loginName {
    padding-right: 25%;
    padding-top: 12%;
    text-shadow: currentColor;
}
#logout {
    padding-right: 25%;
    margin-top: -3%;
}

