body {
    font-family: 'Antic Slab', serif;
    color: #4E8E8D;
    font-weight: 400;
    background-color: #FFFFF1;
    overflow-x: hidden;
}
p {
    font-size: 120%;
}

button {
    margin-top:5%;
    margin-left:10%;
    border-radius: 10%;
    padding: 16px;
    font-size: 20px;
    background-color: white;
    border: 2px solid #4E8E8D;
    box-shadow: 10px 10px 5px #888888;
}
.text-muted {
    color:#BCBB88;
}
.text-thin {
    font-weight: 300;
}
.title-super {
    font-size: 60px;
}
.title-logo {
    margin-top: 20px;
}
#header {
    border-bottom-style: double;
        box-shadow: 5px 5px 5px #888888;

}

#statsCanvas {
    border:1px solid #000000;
    border-top: hidden;
    border-color: #4E8E8D;
}

#loginName {
    padding-right: 25%;
    padding-top: 15%;
    text-shadow: currentColor;
}
#logout {
    padding-right: 25%;
    margin-top: -3%;
}
#challengeSelect {
    margin-right: 35%;
}

